# Unreal Engine 5 ignores
Intermediate/
Binaries/
Saved/
.vs/
DerivedDataCache/
Build/
*.sln
*.opensdf
*.suo
*.user
*.sdf

# Visual Studio ignores
.vscode/
.vs/
*.VC.db
*.VC.opendb

# Mac / Linux temp files
.DS_Store
Thumbs.db
